body {
    height: 100vh;
}

.whole {
    display: flex;
    flex-direction: column;
}

.configure {

    flex: 1;
}

.dial {

    margin: 50px auto;
}

.fetch {

    margin: 0 auto 30px auto;
}

/* .timer {

} */

.displayText {

    flex: 1;
    margin: auto;
    width: 70%;
    font-size: 25px;
    max-height: 200px;
    text-justify: inter-word;
}

.show {
    text-justify: inter-word;
    height: 50px;
    margin-bottom: 100px;

}

.typehere {
    flex: 1;
    margin: 40px auto;
    width: 50%;
}

.inputfield {
    width: 0%;
}

.resize {
    font-size: 30px;
}