:root {
    --custom-width: clamp(40%, 200px, 80%);
    --button-width: clamp(80px,150px,175px);
}

body {
    height: 100vh;
}

.whole {
    display: flex;
    flex-direction: column;
}

.configure {

    flex: 1;
}

.settings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.settings_diff {

    margin: 50px auto;
    flex: 1;
    width: var(--custom-width);
}

.settings_time {
    flex: 1;
    margin: 50px auto;
    width: var(--custom-width);

}

.difficulty_label {
    margin: 0 auto 10px auto;

}

.diff_select {
    width: var(--custom-width);
    text-align: left;
}

.time_label {
    margin: 0 auto 10px auto;

}

.time_select {
    width: var(--custom-width);
    text-align: left;
}

.button_field {
    margin: 0 auto 30px auto;
    display: flex;
}

.button_one {
    flex: 1;
    text-align: end;
    margin-right: 20px;
}

.button_two {
    flex: 1;
    text-align: start;
    margin-left: 20px;
}

.fetch_button {
    width: var(--button-width);
}

.start_button {
    width: var(--button-width);
}

.timer {
    font-family: 'Work Sans', sans-serif;
    margin: 50px auto;
    font-size: 30px;
}

.displayText {

    flex: 1;
    margin: auto;
    width: 70%;
    font-size: 25px;
    max-height: 200px;
    text-justify: inter-word;
    font-family: 'Noto Sans Mono',  monospace;
    font-weight: bold;
}

.show {
    text-justify: inter-word;
    height: 50px;
    margin-bottom: 100px;

}

.typehere {
    flex: 1;
    margin: 40px auto;
    width: 50%;
}

.inputfield {
    width: 0%;
}

.resize {
    font-size: 30px;
}